
body{
    margin: 40px 8% 40px 8%;
    padding:10px;
    font-family: 'Oswald', sans-serif;
    background: #F7F5F2;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* all colunmns css */

.column {
    float: left;
    width: auto;
    padding: 15px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
    display: flex;
  }
  /*
  .column {
    flex: 80%;
  } */

/* .profile{
    column-rule-color: #fff;
    background: #fff;
} */
/* end of columns */

.logo{
    width: 200px;
}

.icons{
    font-size: 42px;
    color: #155bbb;
}

.indent-text{
    direction: ltr;
    font-size: 16px;
    color: #000;
    text-align:justify;
}



/*----- course -----*/

.education{
    margin: auto;
    text-align: left;
    /* padding: 0 30px 60px 30px; */
}
.cols{
    background: #fff;
    padding: 10px 18px;
    border-radius: 4px;
    text-align: justify;
    margin: 5px;
}
.row h3{
    text-align: center;
}

h1{
font-size: 36px;

}

p{
    color: #777;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
}

/* .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;   
} */

.Experience{
    /* width: 80%; */
    margin: auto;
    text-align: left;
}
.course-col{
    flex-basis: 31%;
    background: #F7F5F2;
    border-radius: 10px;
    margin-top: 5%;
    padding: 14px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
}
h4{
    font-size: 22px;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*-----testimonials----*/
.testimonials{
    /* width: 80%; */
    margin: auto;
    padding-top: 100px;
    text-align: left;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .container{
    max-width: 1250px;
    margin: auto;
} */
ul{
    list-style: none;
}








.footer{
    /* background-color: #155bbb; */
    margin-top: 60px;
    align-content: center;
    height: 0 auto;
    padding: 20px 0 0 0;
    color: #000000;
}
footer h4{
    text-align: center;
}
.ig-photos{
    text-align: center;
}
.footer-links , .footer-mask{
    color: #000000;
    margin: 10px 0 10px 0 ;
    text-decoration: none;
}
.f-icons{
    color: #000000;
    font-size: 22px;
    text-align: left;
    margin: 20px 10px 0 0;
}